<div
    class="bg-white rounded-tl-[40px] rounded-br-[90px] p-6 shadow-md flex justify-between items-center"
>
    <h1 class="text-2xl font-medium text-gray-500">Invoices</h1>
    <div class="flex items-center gap-4">
        <div class="gap-4 py-2 px-4 items-center mb-3">
            <!-- Request Type Buttons -->
            <div class="flex justify-end items-center space-x-3">
                <div class="relative">
                    <div
                        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                    >
                        <svg
                            class="h-5 w-5 text-gray-400"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                            />
                        </svg>
                    </div>
                    <input
                        type="text"
                        placeholder="Search"
                        class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-lg bg-white shadow-sm focus:outline-none focus:ring-1 focus:ring-[#54B7C5] focus:border-[#54B7C5] sm:text-sm"
                    />
                </div>
                <button
                    class="bg-white text-sm font-semibold text-[#163F75] border border-[2px] border-gray-300 px-8 py-2.5 rounded-xl hover:bg-[#163F75]/10 transition"
                    data-modal-target="generate-invoice-modal"
                    data-modal-toggle="generate-invoice-modal"
                >
                    + Generate Invoice
                </button>
            </div>
        </div>

        <!-- File icon at the start -->
        <button
            class="flex items-center m-2 mr-5"
            data-modal-target="reports-modal"
            data-modal-toggle="reports-modal"
        >
            <svg
                class="w-6 h-6 text-gray-800 transform scale-x-[-1]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
            >
                <path
                    stroke="#163f75"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"
                />
            </svg>
        </button>
    </div>
</div>

<div></div>
<!-- Card -->
<div class="p-8 mx-auto">
    <!-- Filter -->
    <div class="flex justify-between gap-4 items-start pr-4 mt-4 items-center align-center">
        <!-- Category Slide Switcher - takes first column -->
        <div id="transactionStatusSwitcher" class="flex space-x-6 border-gray-200">
            <button
                class="status-btn text-m font-semibold text-[#163F75] border-b-2 border-[#54B7C5] pb-2"
                onclick="switchTransactionTab('all')"
            >
                All Transactions
            </button>
            <button
                class="status-btn text-m font-semibold text-gray-500 hover:text-gray-700 pb-2"
                onclick="switchTransactionTab('paid')"
            >
                Paid
            </button>
            <button
                class="status-btn text-m font-semibold text-gray-500 hover:text-gray-700 pb-2"
                onclick="switchTransactionTab('unpaid')"
            >
                Pending
            </button>
            <button
                class="status-btn text-m font-semibold text-gray-500 hover:text-gray-700 pb-2"
                onclick="switchTransactionTab('unpaid')"
            >
                Declined
            </button>
            <button
                class="status-btn text-m font-semibold text-gray-500 hover:text-gray-700 pb-2"
                onclick="switchTransactionTab('unpaid')"
            >
                Event Tickets
            </button>
        </div>
        <div class="flex justify-end gap-4 items-end pr-4 items-center">
            <button
                class="flex items-center gap-1 text-sm text-[#54B7C5] hover:underline font-medium mt-6"
            >
                <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M12.4068 4.23333C11.6818 4.01667 10.8818 3.875 9.99844 3.875C6.00677 3.875 2.77344 7.10833 2.77344 11.1C2.77344 15.1 6.00677 18.3333 9.99844 18.3333C13.9901 18.3333 17.2234 15.1 17.2234 11.1083C17.2234 9.625 16.7734 8.24167 16.0068 7.09167"
                        stroke="#54B7C5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M13.4396 4.43464L11.0312 1.66797"
                        stroke="#54B7C5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M13.4411 4.43359L10.6328 6.48359"
                        stroke="#54B7C5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                Reset
            </button>

            <div class="relative">
                <label class="block text-sm font-medium text-gray-700 mb-1">From</label>
                <div class="relative">
                    <div
                        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                    >
                        <svg
                            class="w-4 h-4 text-gray-500"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                            />
                        </svg>
                    </div>
                    <input
                        datepicker
                        datepicker-orientation="bottom"
                        datepicker-format="dd-mm-yyyy"
                        type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                        placeholder="Select date"
                    />
                </div>
            </div>

            <div class="flex items-end">
                <div class="relative">
                    <label class="block text-sm font-medium text-gray-700 mb-1">To</label>
                    <div class="relative">
                        <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                        >
                            <svg
                                class="w-4 h-4 text-gray-500"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path
                                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                                />
                            </svg>
                        </div>
                        <input
                            datepicker
                            datepicker-orientation="bottom"
                            datepicker-format="dd-mm-yyyy"
                            type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                            placeholder="Select date"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="mt-6 overflow-x-auto">
        <table class="min-w-full border-separate border-spacing-y-2 text-sm">
            <thead class="bg-[#EAEAE9] text-gray-600 text-sm">
                <tr>
                    <th class="text-center py-3 px-4 first:rounded-l-lg last:rounded-r-lg">
                        Date/Time
                    </th>
                    <th class="text-center py-3 px-4">Invoice</th>
                    <th class="text-center py-3 px-4">Subject</th>
                    <th class="text-center py-3 px-4">Name</th>
                    <th class="text-center py-3 px-4">Amount</th>
                    <th class="text-center py-3 px-4">Payment Status</th>
                    <th class="text-center py-3 px-4 last:rounded-r-lg">Payment Method</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 text-sm">
                <!-- Example Row 1 -->
                <tr class="border border-gray-800 hover:bg-[#D7EAEC]">
                    <td class="py-3 text-center px-4 first:rounded-l-lg last:rounded-r-lg">
                        01:05:10 01.01.24
                    </td>
                    <td class="py-3 text-center px-4">510</td>
                    <td class="py-3 text-center px-4">Rent Collection</td>
                    <td class="py-3 text-center px-4">Mahdi Handal</td>
                    <td class="py-3 text-center px-4">400.000</td>
                    <td class="py-3 text-center text-red-500 px-4">Declined</td>
                    <td class="py-3 text-center px-4 last:rounded-r-lg">Payment via BenifitPay</td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="flex justify-between items-center mt-4 px-4 text-sm text-gray-500">
            <span>Showing 1 of 28</span>
            <div class="flex gap-2">
                <button class="text-gray-500">&lt;</button>
                <button class="font-bold text-black">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button class="text-gray-500">&gt;</button>
            </div>
        </div>
    </div>
</div>

<!-- generate invoice modal -->
<div
    id="generate-invoice-modal"
    tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-modal md:h-full"
    aria-hidden="true"
>
    <!-- Modal Container -->
    <div class="bg-[#F7F6F5] rounded-2xl shadow-xl w-full max-w-md">
        <!-- Modal Header -->
        <div class="flex justify-between items-center p-6 border-b border-gray-200">
            <h3 class="text-xl font-semibold text-gray-800">Generate Invoice</h3>
            <button
                data-modal-hide="generate-invoice-modal"
                class="text-red-500 hover:text-red-700 text-2xl"
            >
                Close &times;
            </button>
        </div>

        <!-- Modal Content -->
        <div class="p-6">
            <!-- Form Fields -->
            <div class="space-y-5">
                <!-- Preference Dropdown -->
                <select
                    id="preference-select"
                    class="w-full px-4 py-3 bg-white rounded-xl text-gray-700 text-sm focus:outline-none placeholder-gray-500 shadow-[0px_4px_10px_rgba(0,0,0,0.05)]"
                >
                    <option value="" disabled selected>Select Flat/Villa No. or Name</option>
                    <option value="">Flat 1</option>
                    <option value="">Flat 2</option>
                    <option value="">Flat 3</option>
                </select>

                <!-- Subject Dropdown -->
                <select
                    class="w-full px-4 py-3 bg-white rounded-xl text-gray-700 text-sm focus:outline-none placeholder-gray-500 shadow-[0px_4px_10px_rgba(0,0,0,0.05)]"
                >
                    <option value="" disabled selected>Subject</option>
                    <option>Rent Collection</option>
                    <option>Annual Service Collection</option>
                    <option>Other</option>
                </select>

                <!-- Amount Input -->
                <input
                    type="text"
                    placeholder="Amount (Ex - 100.000)"
                    class="w-full px-4 py-3 bg-white rounded-xl text-gray-700 text-sm focus:outline-none placeholder-gray-500 shadow-[0px_4px_10px_rgba(0,0,0,0.05)]"
                />

                <!-- Upload Invoice -->
                <div class="flex items-center justify-center w-full">
                    <label
                        class="flex items-center justify-center w-full h-16 bg-white border border-dashed border-gray-300 rounded-xl cursor-pointer shadow-[0px_4px_10px_rgba(0,0,0,0.05)]"
                    >
                        <div class="flex items-center gap-2 text-sm text-gray-500">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-5 h-5 text-gray-500"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4-4m0 0l-4 4m4-4v12"
                                />
                            </svg>
                            <span>Upload Invoice</span>
                        </div>
                        <input type="file" class="hidden" />
                    </label>
                </div>
            </div>
        </div>

        <!-- Modal Footer -->
        <div class="flex justify-center p-6 border-t border-gray-200">
            <button
                class="bg-[#57C1D1] hover:bg-[#4BB3C2] text-white py-3 px-9 rounded-lg font-medium text-base shadow-[0px_4px_10px_rgba(0,0,0,0.05)] transition"
            >
                Send
            </button>
        </div>
    </div>
</div>

<script>
    function switchTransactionTab(tab) {
        // Remove active styles from all buttons
        document.querySelectorAll(".status-btn").forEach((btn) => {
            btn.classList.remove("text-[##163F75]", "border-b-2", "border-[#54B7C5]");
            btn.classList.add("text-gray-500");
        });

        // Add active styles to clicked button
        const activeBtn = event.currentTarget;
        activeBtn.classList.add("text-[#163F75]", "border-b-2", "border-[#54B7C5]");
        activeBtn.classList.remove("text-gray-500");
    }

    const select = document.getElementById("maintenance-select");

    const dataFromBackend = {
        Cinema: ["Cinema 1", "Cinema 2"],
        Hall: ["Banquet Hall", "Conference Hall"],
        Sports: ["Tennis Court", "Basketball Arena"],
    };

    function handleCategoryChange(radio) {
        const value = radio.value;
        const options = dataFromBackend[value] || [];

        // Reset and populate dropdown
        select.innerHTML = `<option disabled selected>Select ${value}</option>`;
        options.forEach((opt) => {
            const option = document.createElement("option");
            option.value = opt;
            option.textContent = opt;
            select.appendChild(option);
        });
    }

    // Modal toggle functions (for test)
    function openMaintenanceModal() {
        document.getElementById("under-maintenance-modal").classList.remove("hidden");
    }

    function closeMaintenanceModal() {
        document.getElementById("under-maintenance-modal").classList.add("hidden");
    }
</script>
