<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Smart Building Services - Auth</title>
        <!-- Tailwind CSS CDN -->
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Flowbite CSS & JS -->
        <!-- <link href="https://unpkg.com/flowbite@1.6.5/dist/flowbite.min.css" rel="stylesheet" /> -->
        <script src="https://unpkg.com/flowbite@1.6.5/dist/flowbite.min.js"></script>
    </head>

    <body class="bg-white font-sans min-h-100vh">
        <!-- Decorative Top Image -->
        <div class="relative">
            <img src="../Icons/images/AuthBg.png" alt="Top Decoration" class="w-full" />
        </div>

        <!-- Main Content -->
        <div class="max-w-7xl mx-auto px-10 transform -translate-y-[100px]">
            <h2 class="text-2xl font-semibold text-gray-800 mb-2">Review Your Details</h2>
            <p class="text-gray-600 mb-8">
                Check carefully before you send us all your information.
            </p>

            <div class="grid grid-cols-3 gap-8">
                <!-- Business Details -->
                <div>
                    <div class="flex items-center justify-start mb-2">
                        <h3 class="text-lg font-semibold text-[#163f75]">Business Details</h3>
                        <a href="#" class="text-red-500 text-sm font-medium flex items-center">
                            <svg
                                class="ml-6"
                                width="56"
                                height="20"
                                viewBox="0 0 56 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M36.544 15.616L36.536 17H29.416V5.512H36.536V6.896H31.128V10.536H35.48V11.872H31.128V15.616H36.544ZM43.2423 10.84C42.9863 10.504 42.7089 10.2693 42.4103 10.136C42.1169 10.0027 41.7863 9.936 41.4183 9.936C40.7036 9.936 40.1489 10.1947 39.7543 10.712C39.3649 11.224 39.1703 11.9733 39.1703 12.96C39.1703 13.4773 39.2129 13.92 39.2983 14.288C39.3889 14.6507 39.5169 14.9493 39.6823 15.184C39.8529 15.4133 40.0609 15.584 40.3063 15.696C40.5516 15.8027 40.8289 15.856 41.1383 15.856C41.5916 15.856 41.9836 15.7547 42.3143 15.552C42.6449 15.3493 42.9543 15.064 43.2423 14.696V10.84ZM44.8103 5.192V17H43.8663C43.6476 17 43.5116 16.896 43.4583 16.688L43.3223 15.752C42.9756 16.1627 42.5809 16.4933 42.1383 16.744C41.7009 16.9893 41.1943 17.112 40.6183 17.112C40.1543 17.112 39.7329 17.0213 39.3543 16.84C38.9809 16.6587 38.6609 16.3947 38.3943 16.048C38.1276 15.696 37.9223 15.2613 37.7783 14.744C37.6343 14.2267 37.5623 13.632 37.5623 12.96C37.5623 12.3573 37.6423 11.7973 37.8023 11.28C37.9623 10.7627 38.1943 10.3147 38.4983 9.936C38.8023 9.55733 39.1703 9.26133 39.6023 9.048C40.0343 8.82933 40.5223 8.72 41.0663 8.72C41.5569 8.72 41.9729 8.8 42.3143 8.96C42.6609 9.12 42.9703 9.34667 43.2423 9.64V5.192H44.8103ZM48.6186 8.872V17H47.0586V8.872H48.6186ZM48.9146 6.36C48.9146 6.504 48.8853 6.64267 48.8266 6.776C48.768 6.904 48.688 7.01867 48.5866 7.12C48.4906 7.216 48.376 7.29333 48.2426 7.352C48.1093 7.40533 47.9706 7.432 47.8266 7.432C47.6826 7.432 47.5466 7.40533 47.4186 7.352C47.2906 7.29333 47.176 7.216 47.0746 7.12C46.9786 7.01867 46.9013 6.904 46.8426 6.776C46.7893 6.64267 46.7626 6.504 46.7626 6.36C46.7626 6.21067 46.7893 6.072 46.8426 5.944C46.9013 5.81067 46.9786 5.696 47.0746 5.6C47.176 5.49867 47.2906 5.42133 47.4186 5.368C47.5466 5.30933 47.6826 5.28 47.8266 5.28C47.9706 5.28 48.1093 5.30933 48.2426 5.368C48.376 5.42133 48.4906 5.49867 48.5866 5.6C48.688 5.696 48.768 5.81067 48.8266 5.944C48.8853 6.072 48.9146 6.21067 48.9146 6.36ZM53.4213 17.128C52.7653 17.128 52.2586 16.944 51.9013 16.576C51.5493 16.208 51.3733 15.6827 51.3733 15V10.136H50.4293C50.3386 10.136 50.2613 10.1093 50.1973 10.056C50.1386 9.99733 50.1093 9.912 50.1093 9.8V9.168L51.4293 8.984L51.7812 6.56C51.8026 6.46933 51.8426 6.4 51.9013 6.352C51.9653 6.29867 52.0453 6.272 52.1413 6.272H52.9333V9H55.2373V10.136H52.9333V14.896C52.9333 15.216 53.0106 15.456 53.1653 15.616C53.3253 15.7707 53.5279 15.848 53.7733 15.848C53.9173 15.848 54.0399 15.8293 54.1413 15.792C54.2479 15.7547 54.3386 15.7147 54.4133 15.672C54.4879 15.624 54.5519 15.5813 54.6053 15.544C54.6586 15.5067 54.7066 15.488 54.7493 15.488C54.8026 15.488 54.8426 15.5013 54.8693 15.528C54.9013 15.5493 54.9333 15.5867 54.9653 15.64L55.4293 16.392C55.1733 16.6267 54.8693 16.808 54.5173 16.936C54.1653 17.064 53.7999 17.128 53.4213 17.128Z"
                                    fill="#DB161B"
                                />
                                <path
                                    d="M11.4531 17.0365H17.497"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M10.65 3.16233C11.2964 2.38982 12.4583 2.27655 13.2469 2.90978C13.2905 2.94413 14.6912 4.03232 14.6912 4.03232C15.5575 4.55599 15.8266 5.66925 15.2912 6.51882C15.2627 6.56432 7.34329 16.4704 7.34329 16.4704C7.07981 16.7991 6.67986 16.9931 6.25242 16.9978L3.21961 17.0358L2.53628 14.1436C2.44055 13.7369 2.53628 13.3098 2.79975 12.9811L10.65 3.16233Z"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M9.1875 5L13.731 8.48927"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                    <ul class="text-sm text-gray-700 space-y-1">
                        <li>
                            <b>Commercial Name:</b>
                            Super Clean Services
                        </li>
                        <li>
                            <b>CR Number:</b>
                            200797
                        </li>
                        <li>
                            <b>Branch:</b>
                            2
                        </li>
                        <li>
                            <b>Service Type:</b>
                            Cleaning
                        </li>
                        <li>
                            <b>Currency:</b>
                            BHD
                        </li>
                        <li>
                            <b>Business Landline:</b>
                            +973 123456789
                        </li>
                        <li>
                            <b>Business Email:</b>
                            super_clean_services_2@hotmail.com
                        </li>
                        <li>
                            <b>VAT Number:</b>
                            200000452900003
                        </li>
                        <li>
                            <b>Open - Close Time:</b>
                            09:00 AM to 01:00 PM, 03:00 PM to 08:00 PM
                        </li>
                        <li>
                            <b>Working Day:</b>
                            Sun, Mon, Tue, Wed, Thu
                        </li>
                        <li>
                            <b>City:</b>
                            Manama
                        </li>
                        <li>
                            <b>Business Address:</b>
                            Shop 1, Building 2003, Road 2215, Juffair
                        </li>
                    </ul>
                </div>

                <!-- Admin Profile -->
                <div>
                    <div class="flex items-center justify-start mb-2">
                        <h3 class="text-lg font-semibold text-[#163f75]">Admin Profile</h3>
                        <a href="#" class="text-red-500 text-sm font-medium flex items-center">
                            <svg
                                class="ml-6"
                                width="56"
                                height="20"
                                viewBox="0 0 56 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M36.544 15.616L36.536 17H29.416V5.512H36.536V6.896H31.128V10.536H35.48V11.872H31.128V15.616H36.544ZM43.2423 10.84C42.9863 10.504 42.7089 10.2693 42.4103 10.136C42.1169 10.0027 41.7863 9.936 41.4183 9.936C40.7036 9.936 40.1489 10.1947 39.7543 10.712C39.3649 11.224 39.1703 11.9733 39.1703 12.96C39.1703 13.4773 39.2129 13.92 39.2983 14.288C39.3889 14.6507 39.5169 14.9493 39.6823 15.184C39.8529 15.4133 40.0609 15.584 40.3063 15.696C40.5516 15.8027 40.8289 15.856 41.1383 15.856C41.5916 15.856 41.9836 15.7547 42.3143 15.552C42.6449 15.3493 42.9543 15.064 43.2423 14.696V10.84ZM44.8103 5.192V17H43.8663C43.6476 17 43.5116 16.896 43.4583 16.688L43.3223 15.752C42.9756 16.1627 42.5809 16.4933 42.1383 16.744C41.7009 16.9893 41.1943 17.112 40.6183 17.112C40.1543 17.112 39.7329 17.0213 39.3543 16.84C38.9809 16.6587 38.6609 16.3947 38.3943 16.048C38.1276 15.696 37.9223 15.2613 37.7783 14.744C37.6343 14.2267 37.5623 13.632 37.5623 12.96C37.5623 12.3573 37.6423 11.7973 37.8023 11.28C37.9623 10.7627 38.1943 10.3147 38.4983 9.936C38.8023 9.55733 39.1703 9.26133 39.6023 9.048C40.0343 8.82933 40.5223 8.72 41.0663 8.72C41.5569 8.72 41.9729 8.8 42.3143 8.96C42.6609 9.12 42.9703 9.34667 43.2423 9.64V5.192H44.8103ZM48.6186 8.872V17H47.0586V8.872H48.6186ZM48.9146 6.36C48.9146 6.504 48.8853 6.64267 48.8266 6.776C48.768 6.904 48.688 7.01867 48.5866 7.12C48.4906 7.216 48.376 7.29333 48.2426 7.352C48.1093 7.40533 47.9706 7.432 47.8266 7.432C47.6826 7.432 47.5466 7.40533 47.4186 7.352C47.2906 7.29333 47.176 7.216 47.0746 7.12C46.9786 7.01867 46.9013 6.904 46.8426 6.776C46.7893 6.64267 46.7626 6.504 46.7626 6.36C46.7626 6.21067 46.7893 6.072 46.8426 5.944C46.9013 5.81067 46.9786 5.696 47.0746 5.6C47.176 5.49867 47.2906 5.42133 47.4186 5.368C47.5466 5.30933 47.6826 5.28 47.8266 5.28C47.9706 5.28 48.1093 5.30933 48.2426 5.368C48.376 5.42133 48.4906 5.49867 48.5866 5.6C48.688 5.696 48.768 5.81067 48.8266 5.944C48.8853 6.072 48.9146 6.21067 48.9146 6.36ZM53.4213 17.128C52.7653 17.128 52.2586 16.944 51.9013 16.576C51.5493 16.208 51.3733 15.6827 51.3733 15V10.136H50.4293C50.3386 10.136 50.2613 10.1093 50.1973 10.056C50.1386 9.99733 50.1093 9.912 50.1093 9.8V9.168L51.4293 8.984L51.7812 6.56C51.8026 6.46933 51.8426 6.4 51.9013 6.352C51.9653 6.29867 52.0453 6.272 52.1413 6.272H52.9333V9H55.2373V10.136H52.9333V14.896C52.9333 15.216 53.0106 15.456 53.1653 15.616C53.3253 15.7707 53.5279 15.848 53.7733 15.848C53.9173 15.848 54.0399 15.8293 54.1413 15.792C54.2479 15.7547 54.3386 15.7147 54.4133 15.672C54.4879 15.624 54.5519 15.5813 54.6053 15.544C54.6586 15.5067 54.7066 15.488 54.7493 15.488C54.8026 15.488 54.8426 15.5013 54.8693 15.528C54.9013 15.5493 54.9333 15.5867 54.9653 15.64L55.4293 16.392C55.1733 16.6267 54.8693 16.808 54.5173 16.936C54.1653 17.064 53.7999 17.128 53.4213 17.128Z"
                                    fill="#DB161B"
                                />
                                <path
                                    d="M11.4531 17.0365H17.497"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M10.65 3.16233C11.2964 2.38982 12.4583 2.27655 13.2469 2.90978C13.2905 2.94413 14.6912 4.03232 14.6912 4.03232C15.5575 4.55599 15.8266 5.66925 15.2912 6.51882C15.2627 6.56432 7.34329 16.4704 7.34329 16.4704C7.07981 16.7991 6.67986 16.9931 6.25242 16.9978L3.21961 17.0358L2.53628 14.1436C2.44055 13.7369 2.53628 13.3098 2.79975 12.9811L10.65 3.16233Z"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M9.1875 5L13.731 8.48927"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                    <ul class="text-sm text-gray-700 space-y-1">
                        <li>
                            <b>First Name:</b>
                            Marry
                        </li>
                        <li>
                            <b>Last Name:</b>
                            Luca
                        </li>
                        <li>
                            <b>Your Role:</b>
                            Sales Manager
                        </li>
                        <li>
                            <b>Mobile No.:</b>
                            +973 123456789
                        </li>
                    </ul>
                    <h4 class="mt-4 text-lg font-semibold text-[#163f75]">Selected Plan</h4>
                    <p class="text-sm">Premium</p>
                </div>

                <!-- Bank Details -->
                <div>
                    <div class="flex items-center justify-start mb-2">
                        <h3 class="text-lg font-semibold text-[#163f75]">Bank Details</h3>
                        <a href="#" class="text-red-500 text-sm font-medium flex items-center">
                            <svg
                                class="ml-6"
                                width="56"
                                height="20"
                                viewBox="0 0 56 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M36.544 15.616L36.536 17H29.416V5.512H36.536V6.896H31.128V10.536H35.48V11.872H31.128V15.616H36.544ZM43.2423 10.84C42.9863 10.504 42.7089 10.2693 42.4103 10.136C42.1169 10.0027 41.7863 9.936 41.4183 9.936C40.7036 9.936 40.1489 10.1947 39.7543 10.712C39.3649 11.224 39.1703 11.9733 39.1703 12.96C39.1703 13.4773 39.2129 13.92 39.2983 14.288C39.3889 14.6507 39.5169 14.9493 39.6823 15.184C39.8529 15.4133 40.0609 15.584 40.3063 15.696C40.5516 15.8027 40.8289 15.856 41.1383 15.856C41.5916 15.856 41.9836 15.7547 42.3143 15.552C42.6449 15.3493 42.9543 15.064 43.2423 14.696V10.84ZM44.8103 5.192V17H43.8663C43.6476 17 43.5116 16.896 43.4583 16.688L43.3223 15.752C42.9756 16.1627 42.5809 16.4933 42.1383 16.744C41.7009 16.9893 41.1943 17.112 40.6183 17.112C40.1543 17.112 39.7329 17.0213 39.3543 16.84C38.9809 16.6587 38.6609 16.3947 38.3943 16.048C38.1276 15.696 37.9223 15.2613 37.7783 14.744C37.6343 14.2267 37.5623 13.632 37.5623 12.96C37.5623 12.3573 37.6423 11.7973 37.8023 11.28C37.9623 10.7627 38.1943 10.3147 38.4983 9.936C38.8023 9.55733 39.1703 9.26133 39.6023 9.048C40.0343 8.82933 40.5223 8.72 41.0663 8.72C41.5569 8.72 41.9729 8.8 42.3143 8.96C42.6609 9.12 42.9703 9.34667 43.2423 9.64V5.192H44.8103ZM48.6186 8.872V17H47.0586V8.872H48.6186ZM48.9146 6.36C48.9146 6.504 48.8853 6.64267 48.8266 6.776C48.768 6.904 48.688 7.01867 48.5866 7.12C48.4906 7.216 48.376 7.29333 48.2426 7.352C48.1093 7.40533 47.9706 7.432 47.8266 7.432C47.6826 7.432 47.5466 7.40533 47.4186 7.352C47.2906 7.29333 47.176 7.216 47.0746 7.12C46.9786 7.01867 46.9013 6.904 46.8426 6.776C46.7893 6.64267 46.7626 6.504 46.7626 6.36C46.7626 6.21067 46.7893 6.072 46.8426 5.944C46.9013 5.81067 46.9786 5.696 47.0746 5.6C47.176 5.49867 47.2906 5.42133 47.4186 5.368C47.5466 5.30933 47.6826 5.28 47.8266 5.28C47.9706 5.28 48.1093 5.30933 48.2426 5.368C48.376 5.42133 48.4906 5.49867 48.5866 5.6C48.688 5.696 48.768 5.81067 48.8266 5.944C48.8853 6.072 48.9146 6.21067 48.9146 6.36ZM53.4213 17.128C52.7653 17.128 52.2586 16.944 51.9013 16.576C51.5493 16.208 51.3733 15.6827 51.3733 15V10.136H50.4293C50.3386 10.136 50.2613 10.1093 50.1973 10.056C50.1386 9.99733 50.1093 9.912 50.1093 9.8V9.168L51.4293 8.984L51.7812 6.56C51.8026 6.46933 51.8426 6.4 51.9013 6.352C51.9653 6.29867 52.0453 6.272 52.1413 6.272H52.9333V9H55.2373V10.136H52.9333V14.896C52.9333 15.216 53.0106 15.456 53.1653 15.616C53.3253 15.7707 53.5279 15.848 53.7733 15.848C53.9173 15.848 54.0399 15.8293 54.1413 15.792C54.2479 15.7547 54.3386 15.7147 54.4133 15.672C54.4879 15.624 54.5519 15.5813 54.6053 15.544C54.6586 15.5067 54.7066 15.488 54.7493 15.488C54.8026 15.488 54.8426 15.5013 54.8693 15.528C54.9013 15.5493 54.9333 15.5867 54.9653 15.64L55.4293 16.392C55.1733 16.6267 54.8693 16.808 54.5173 16.936C54.1653 17.064 53.7999 17.128 53.4213 17.128Z"
                                    fill="#DB161B"
                                />
                                <path
                                    d="M11.4531 17.0365H17.497"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M10.65 3.16233C11.2964 2.38982 12.4583 2.27655 13.2469 2.90978C13.2905 2.94413 14.6912 4.03232 14.6912 4.03232C15.5575 4.55599 15.8266 5.66925 15.2912 6.51882C15.2627 6.56432 7.34329 16.4704 7.34329 16.4704C7.07981 16.7991 6.67986 16.9931 6.25242 16.9978L3.21961 17.0358L2.53628 14.1436C2.44055 13.7369 2.53628 13.3098 2.79975 12.9811L10.65 3.16233Z"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M9.1875 5L13.731 8.48927"
                                    stroke="#DB161B"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                    <ul class="text-sm text-gray-700 space-y-1">
                        <li>
                            <b>Account Name:</b>
                            Super Clean Services
                        </li>
                        <li>
                            <b>Account Number:</b>
                            002222222222
                        </li>
                        <li>
                            <b>IBAN:</b>
                            BH85BHOB09300222222222
                        </li>
                        <li>
                            <b>Bank Name:</b>
                            Ithmaar Bank
                        </li>
                        <li>
                            <b>Billing Address:</b>
                            Seef Tower, Seef District 2820, Manama
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Bottom Decorative Image -->
        <div class="fixed bottom-0 left-0 w-full pointer-events-none">
            <img src="../Icons/images/CurveBg.svg" alt="Footer Decoration" />
            <div class="absolute bottom-8 left-1/3 transform -translate-x-[490px] font-[600]">
                <h2 class="text-gray-800 text-4xl">
                    Step 5
                    <span class="text-gray-500 text-3xl">Out of 5</span>
                </h2>
            </div>

            <div
                class="absolute bottom-8 left-1/3 transform -translate-x-[-640px] font-[600] pointer-events-auto"
            >
                <!-- Terms and Buttons -->
                <div class="flex items-start mb-8 space-x-4">
                    <input id="terms" type="checkbox" class="mt-1.5" />
                    <label for="terms" class="text-m text-gray-500">
                        I have read and agree to the following
                        <a href="#" class="text-[#54B7C5] underline">Terms & Conditions</a>
                        . In
                        <br />
                        addition, I am the owner or am acting on behalf of the owner as the
                        <br />
                        authorised signatory of said entity.
                    </label>
                </div>
                <button
                    onclick="window.location.href=`<%= process.env.APP_ADMIN_URL %>/chooseplan`"
                    class="text-xl mr-8 font-medium text-black hover:underline"
                >
                    &lt; Back
                </button>

                <button
                    type="submit"
                    onclick="window.location.href=`<%= process.env.APP_ADMIN_URL %>/spadmin/dashboard`"
                    class="bg-[#163f75] text-white text-m rounded-[10px] w-[350px] py-3 hover:bg-[#10294f] transition"
                >
                    Confirm
                </button>
            </div>
        </div>
    </body>
</html>
