<div
    class="bg-white rounded-tl-[40px] rounded-br-[90px] p-6 shadow-md flex justify-between items-center"
>
    <h1 class="text-2xl font-medium text-gray-500">Notification</h1>
</div>

<div></div>
<!-- Card -->
<div class="p-8 mx-auto">
    <!-- Filter -->
    <div class="flex justify-between gap-4 items-start pr-4 mt-4 items-center align-center">
        <!-- Category Slide Switcher - takes first column -->
        <div id="transactionStatusSwitcher" class="flex space-x-6 border-gray-200">
            <button
                class="status-btn text-m font-semibold text-[black] border-b-2 border-[#54B7C5] pb-2"
                onclick="switchTransactionTab('all')"
            >
                All Notifications
            </button>
            <button
                class="status-btn text-m font-semibold text-gray-500 hover:text-gray-700 pb-2"
                onclick="switchTransactionTab('paid')"
            >
                Alert
            </button>
            <button
                class="status-btn text-m font-semibold text-gray-500 hover:text-gray-700 pb-2"
                onclick="switchTransactionTab('unpaid')"
            >
                Invoice
            </button>
        </div>
        <div class="flex justify-end gap-4 items-end pr-4 items-center">
            <button
                class="flex items-center gap-1 text-sm text-[#54B7C5] hover:underline font-medium mt-6"
            >
                <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M12.4068 4.23333C11.6818 4.01667 10.8818 3.875 9.99844 3.875C6.00677 3.875 2.77344 7.10833 2.77344 11.1C2.77344 15.1 6.00677 18.3333 9.99844 18.3333C13.9901 18.3333 17.2234 15.1 17.2234 11.1083C17.2234 9.625 16.7734 8.24167 16.0068 7.09167"
                        stroke="#54B7C5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M13.4396 4.43464L11.0312 1.66797"
                        stroke="#54B7C5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M13.4411 4.43359L10.6328 6.48359"
                        stroke="#54B7C5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                Reset
            </button>

            <div class="relative">
                <label class="block text-sm font-medium text-gray-700 mb-1">From</label>
                <div class="relative">
                    <div
                        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                    >
                        <svg
                            class="w-4 h-4 text-gray-500"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                            />
                        </svg>
                    </div>
                    <input
                        datepicker
                        datepicker-orientation="bottom"
                        datepicker-format="dd-mm-yyyy"
                        type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                        placeholder="Select date"
                    />
                </div>
            </div>

            <div class="flex items-end">
                <div class="relative">
                    <label class="block text-sm font-medium text-gray-700 mb-1">To</label>
                    <div class="relative">
                        <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                        >
                            <svg
                                class="w-4 h-4 text-gray-500"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path
                                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                                />
                            </svg>
                        </div>
                        <input
                            datepicker
                            datepicker-orientation="bottom"
                            datepicker-format="dd-mm-yyyy"
                            type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                            placeholder="Select date"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="mt-6 overflow-x-auto">
        <table class="min-w-full border-separate border-spacing-y-2 text-sm">
            <thead class="bg-[#EAEAE9] text-gray-600 text-sm">
                <tr>
                    <th class="text-left py-3 px-4 first:rounded-l-lg last:rounded-r-lg">
                        Date/Time
                    </th>
                    <th class="text-left py-3 px-4">Category</th>
                    <th class="text-left py-3 px-4">Description</th>
                    <th class="text-left py-3 px-4 last:rounded-r-lg">View</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 text-sm">
                <!-- Example Row 1 -->
                <tr class="border border-gray-800 hover:bg-[#D7EAEC]">
                    <td class="py-3 px-4 first:rounded-l-lg last:rounded-r-lg">
                        16:05:10 01.01.24
                    </td>
                    <td class="py-3 px-4 font-semibold cursor-pointer">Alert</td>
                    <td class="py-3 px-4">
                        Valued Residents, Please note that we will be experiencing electricity
                        downtime on the 30th of May 2021 from 10:00 AM to 1:00 PM due to our...
                    </td>
                    <td class="py-3 px-4 font-medium last:rounded-r-lg">
                        <button>
                            <svg
                                width="18"
                                height="15"
                                viewBox="0 0 18 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M11.6531 7.26888C11.6531 8.76761 10.4376 9.98221 8.93892 9.98221C7.44019 9.98221 6.22559 8.76761 6.22559 7.26888C6.22559 5.76929 7.44019 4.55469 8.93892 4.55469C10.4376 4.55469 11.6531 5.76929 11.6531 7.26888Z"
                                    stroke="#54B7C5"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M8.93828 13.5358C12.207 13.5358 15.1967 11.1855 16.88 7.26788C15.1967 3.35024 12.207 1 8.93828 1H8.94172C5.67301 1 2.68328 3.35024 1 7.26788C2.68328 11.1855 5.67301 13.5358 8.94172 13.5358H8.93828Z"
                                    stroke="#54B7C5"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="flex justify-between items-center mt-4 px-4 text-sm text-gray-500">
            <span>Showing 1 of 28</span>
            <div class="flex gap-2">
                <button class="text-gray-500">&lt;</button>
                <button class="font-bold text-black">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button class="text-gray-500">&gt;</button>
            </div>
        </div>
    </div>
</div>
<script>
    function switchTransactionTab(tab) {
        // Remove active styles from all buttons
        document.querySelectorAll(".status-btn").forEach((btn) => {
            btn.classList.remove("text-[##163F75]", "border-b-2", "border-[#54B7C5]");
            btn.classList.add("text-gray-500");
        });

        // Add active styles to clicked button
        const activeBtn = event.currentTarget;
        activeBtn.classList.add("text-[#163F75]", "border-b-2", "border-[#54B7C5]");
        activeBtn.classList.remove("text-gray-500");
    }
</script>
