<%- include('../../layouts/header.ejs') %>
<body class="flex">
    <main class="ml-64">
        <div class="bg-[#f6f6f6] rounded-l-[50px] p-8 shadow-md">
            <div class="bg-white rounded-l-[25px] rounded-r-[25px] p-6 shadow-md border-[2px]">
                <h1 class="text-3xl font-bold text-gray-800">Rewards</h1>
            </div>
        </div>
    </main>
</body>
<%- include('../../layouts/footer.ejs') %>
