<%- include("../layouts/header.ejs", {currentPage: "dashboard"}) %>

<body class="flex min-h-screen">
    <!-- Main Content Area -->
    <main class="ml-64 mt-12">
        <div
            class="min-h-[850px] w-[1450px] bg-[#F7F6F5] rounded-l-[80px] rounded-r-[80px] p-8 shadow-md flex flex-col"
        ></div>
    </main>
</body>

<%- include("../layouts/footer.ejs") %>
